<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>Can u stop 9/11</h3>
 
  {% if result %}
  <div class="result">{{ result }}</div>
  <br></br>
  <img src='{{ imgresult }}' alt="Italian Trulli">
  {% else %}
  <div class="result">You wake up at 8am on September 10th. 24 hours remain. Describe yourself.</div>
  {% endif %}
  <br></br>

   <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter Text" required />
    <input type="submit" value="Do it" />
  </form>
  {% if imgresult %}

  {% endif %}
  
</body>
